/* style.css */

* {
	font-family: sans-serif;
}

.dark-link {
	color: white;
}

.old-entry {
	opacity: 0.5;
}

.old-version {
	color: red;
	text-decoration: line-through;
}

.old-version-popup {
	color: red;
	font-weight: bold;
}

.current-version-popup {
	text-decoration: line-through;
	opacity: 0.3;
}

ion-list a {
	text-decoration: none;
	color: black;
	opacity: 0.7;
}

ion-item {
	cursor: pointer;
}

ion-header-bar h1.with-subtitle {
    top: -.5rem !important;
    overflow: visible !important;
}

ion-header-bar span.is-subtitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;
    font-size: .8rem;
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.7;
}