/* style.css */

* {
	font-family: sans-serif;
}

.dark-link {
	color: white;
}

.old-entry {
	opacity: 0.5;
}

ion-header-bar h1.withSubtitle {
    top: -.5rem !important;
    overflow: visible !important;
}

ion-header-bar span.isSubtitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;
    font-size: .8rem;
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.7;
}